<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Faixa Salarial</th>
      <th scope="col">Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <% brackets.each do |bracket| %>
      <tr>
        <td><%= bracket[:label] %></td>
        <td><%= bracket[:count] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
