<div class="container mt-5 mb-5">
  <div class="row mb-4">
    <div class="col-12">
      <a href="<%= reports_applicants_path %>" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> Voltar para Relatórios de Funcionários
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">Relatório de Faixas Salariais</h1>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h2 class="text-primary">Resumo das Faixas Salariais</h2>
      <div class="table-responsive mt-2">
        <%= render 'reports/applicants/salary/table', brackets: @brackets %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="text-primary">Gráfico de Distribuição</h2>
      <div class="chart-container bg-light p-4 rounded shadow mt-2" style="position: relative; height: 50vh; width: 100%;">
        <%= render 'reports/applicants/salary/chart', brackets: @brackets %>
      </div>
    </div>
  </div>
</div>
